@model QuanLyBanLinhKienMayTinh.Models.NHANVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<h2>Chi tiết thông tin nhân viên</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoanNV)
        </dd>
        <dt>
          Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
          Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
          Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
          Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
          Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUCVU.TenCV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Trở về", "Index")
</p>
